.AboutPageContainer {
    display: flex;
    flex-direction: column;
}

.AboutNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    transition: all 0.3s ease;
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #667eea 0%, #10234c 100%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #576cca 0%, #0d1e3f 100%);
}